<section class="container mx-auto p-6 ">
  <div class="grid grid-cols-2 justify-items-start">
    <div class="flex items-center">
      <img src="./assets/images/svg/ecureuil-right.svg" alt="Scratch"
           class="mr-30px h-35px w-35px">
      <h2 class="text-36px">Classes</h2>
    </div>
    <div class="justify-self-end">
      <button (click)="display=!display">
        <img src="./assets/images/svg/hidden.svg" alt="hidden"
             class="h-35px w-35px">
      </button>
    </div>
  </div>
  <div *ngIf="display else separator;" class="w-full mt-30px mb-8 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
        <tr
          class="text-md font-semibold tracking-wide text-left text-underflow_grey-50 bg-underflow_grey-800 uppercase border-b border-underflow-900">
          <th class="px-4 py-3">Id</th>
          <th class="px-4 py-3">Title</th>
        </tr>
        </thead>
        <tbody class="bg-underflow_grey-700">
        <tr class="text-underflow_grey-50 font-semibold" *ngFor="let classe of classesList">
          <td class="px-4 py-3 text-ms">{{classe.id}}</td>
          <td class="px-4 py-3 text-ms">{{classe.title}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<ng-template #separator>
  <div class="w-full h-1px px-100px border border-underflow_blue-50"></div>
</ng-template>
