<footer class="flex justify-center items-center w-full border-t py-35px border-underflow_grey-700 mt-100px text-9px md:text-12px">
  <div class="flex flex-wrap justify-between items-center mx-10px lg:mx-200px md:space-x-10 md:flex-nowrap">
    <a href="assets/documents/Scratch_Underflow.pdf" class="mx-2 text-center" rel="noreferrer noopener" target="_blank">Tuto</a>
    <span class="opacity-40">|</span>
    <a routerLink="/mentions-legales" class="mx-2 text-center">Mentions légales</a>
    <span class="opacity-40">|</span>
    <a routerLink="/contact" class="mx-2 text-center">Nous contacter</a>
    <span class="opacity-40">|</span>
    <a href="https://www.buymeacoffee.com/scratch" class="mx-2 text-center" rel="noopener noreferrer">Remercier &
      Participer</a>
  </div>
</footer>
