<footer class="w-full py-35px flex justify-center items-center border-t border-underflow_grey-700 mt-100px">
  <div class="mx-10px lg:mx-200px flex justify-between items-center md:space-x-10 flex-wrap md:flex-nowrap">
      <a href="assets/documents/Scratch_Underflow.pdf" class="text-center mx-2" rel="noreferrer noopener" target="_blank">Tuto</a>
      <a routerLink="/mentions-legales" class="text-center mx-2">Mentions légales</a>
      <a routerLink="/profil" class="text-center mx-2">Mon profil</a>
      <a routerLink="/contact" class="text-center mx-2">Nous contacter</a>
      <a href="https://www.buymeacoffee.com/scratch" class="text-center mx-2" rel="noopener noreferrer">Remercier & Participer</a>
  </div>
</footer>
