<footer class="w-full py-35px flex justify-center items-center border-t border-underflow_grey-700">
  <div class="mx-10px lg:mx-200px flex justify-between items-center md:space-x-10 flex-wrap md:flex-nowrap">
      <a routerLink="/profile" class="text-center mx-2">Mon profil</a>
      <a routerLink="/Rules" class="text-center mx-2">Règlement</a>
    <!--    todo link buy me a coffee -->
      <a href="#" class="text-center mx-2" rel="noopener noreferrer">Remercier & Participer</a>
      <a routerLink="/contact" class="text-center mx-2">Nous contacter</a>
  </div>
</footer>
