<app-header-admin [returnEnable]="false"></app-header-admin>

<form [formGroup]="form"
      class="text-underflow_blue-300 flex justify-center items-center w-full px-30px lg:px-100px flex-wrap lg:flex-nowrap pt-50px">
  <fieldset>
    <input name="id" formControlName="id" placeholder="id"
           type="hidden" id="id"
           class="w-250px sm:w-500px h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2
              rounded-lg px-8 text-14px my-2 text-underflow_grey-50 opacity-40" readonly>
    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10">
      <div class="flex flex-col justify-center items-center lg:items-start mt-10px lg:mt-0 relative">
        <label class="text-12px" for="title">Intitulé</label>
        <input name="title" formControlName="title"
               type="text" id="title"
               class="w-250px sm:w-500px h-60px bg-underflow_grey-800 border-underflow_blue-300
               border-2 rounded-lg px-8 text-14px my-2 text-underflow_grey-50">
        <span *ngIf="error_title" class="underflow-error-message">●  L'intitulé saisi n'est pas valide</span>
      </div>
      <div class="flex flex-col justify-center items-center lg:items-start mt-0">
        <label class="text-12px" for="room">Salle</label>
        <input name="room" formControlName="room" placeholder="..."
               type="text" id="room"
               class="w-250px sm:w-500px h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2
               rounded-lg px-8 text-14px my-2 text-underflow_grey-50">
      </div>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10 lg:mt-30px">
      <div class="flex flex-col justify-center items-center lg:items-start mt-10px lg:mt-0 relative">
        <label class="text-12px" for="date">Date du cours</label>
        <input name="date" formControlName="date" id="date"
               type="datetime-local"
               class="w-250px sm:w-500px h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2 rounded-lg px-8 text-14px my-2 text-underflow_grey-50">
        <span *ngIf="error_date" class="underflow-error-message">●  La date saisie n'est pas valide</span>
      </div>
      <div class="flex flex-col justify-center items-center lg:items-start mt-0 relative">
        <label class="text-12px" for="duration">Durée</label>
        <input name="duration" formControlName="duration" placeholder="durée (en minutes)"
               type="number" id="duration"
               class="w-250px sm:w-500px h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2
               rounded-lg px-8 text-14px my-2 text-underflow_grey-50">
        <span *ngIf="error_duration" class="underflow-error-message">●  La durée saisie n'est pas valide</span>
      </div>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10 lg:mt-30px">
      <div class="flex flex-col justify-center items-center lg:items-start mt-10px lg:mt-0 relative">
        <label class="text-12px text-left" for="subjects">Matière</label>
        <select name="subjects" id="subjects" formControlName="subjects"
                class="select-css-custom w-250px h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2
               rounded-lg hover:rounded-b-none focus:rounded-b-none hover:rounded-t-lg
                px-8 text-14px my-2 text-underflow_grey-50">
          <option *ngFor="let subject of subjectslist;"
                  value="{{subject.id}}">{{subject.title}}</option>
        </select>
        <span *ngIf="error_classes" class="underflow-error-message">●  La classe saisie n'est pas valide</span>
      </div>
      <div class="flex flex-col justify-center items-center lg:items-start mt-10px lg:mt-0 relative">
        <label class="text-12px text-left" for="classes">Niveau ciblé</label>
        <select name="classes" id="classes" formControlName="classes"
                class="select-css-custom w-250px h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2
               rounded-lg hover:rounded-b-none focus:rounded-b-none hover:rounded-t-lg
                px-8 text-14px my-2 text-underflow_grey-50">
          <option *ngFor="let classe of classesList;"
                  value="{{classe.id}}">{{classe.title}}</option>
        </select>
        <span *ngIf="error_classes" class="underflow-error-message">●  La classe saisie n'est pas valide</span>
      </div>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10">
      <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10 lg:mt-30px">
        <div class="flex flex-col justify-center items-center lg:items-start mt-10px lg:mt-0 relative">
          <label class="text-12px text-left uppercase" for="description">Description</label>
          <textarea name="description" id="description" cols="30"
                    rows="10" formControlName="description"
                    class="w-250px sm:w-500px h-200px bg-underflow_grey-800 border-underflow_blue-300 border-2 rounded-lg px-8 text-14px my-2 text-underflow_grey-50 pt-10px"
                    placeholder="décris ton cours et ce que tu comptes faire pour celui-ci !"></textarea>
          <span *ngIf="error_description" class="underflow-error-message">●  La description saisie n'est pas valide</span>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center lg:items-start mt-10px lg:mt-0">
        <label class="text-12px" for="closed">⚠️Session terminée ? ( la cloture du cours est définitive ! ) ⚠️</label>
        <!-- Rounded switch -->
        <div class="h-60px flex justify-center items-center my-2">
          <label class="switch">
            <input type="checkbox"
                   name="closed" formControlName="closed"
                   id="closed">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-buttons w-full flex justify-end mt-30px">
      <button (click)="submit()"
        class="button button-primary bg-underflow_blue-300 w-200px h-60px rounded-lg text-underflow_grey-900 text-14px">
        Modifier
      </button>
    </div>
  </fieldset>
</form>
<section class="container mx-auto px-6 pb-6 pt-100px">
  <div class="grid grid-cols-2 justify-items-start">
    <div class="flex items-center">
      <img src="../../../../../assets/images/svg/ecureuil-right.svg" alt="Scratch"
           class="mr-30px h-35px w-35px" draggable="false">
      <h2 class="text-36px">Utilisateurs inscrits</h2>
    </div>
    <div class="justify-self-end">
      <button (click)="display=!display">
        <img src="../../../../../assets/images/svg/hidden.svg" alt="hidden"
             class="h-35px w-35px" draggable="false">
      </button>
    </div>
  </div>
  <div *ngIf="display else separator;" class="w-full mt-30px mb-8 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
        <tr
          class="text-md font-semibold tracking-wide text-left text-underflow_grey-50 bg-underflow_grey-800 uppercase border-b border-underflow-900">
          <th class="px-4 py-3">Nom</th>
          <th class="px-4 py-3">Prénom</th>
          <th class="px-4 py-3">Classe</th>
          <th class="px-4 py-3">Email</th>
          <th class="px-4 py-3 text-right">Présence</th>
        </tr>
        </thead>
        <tbody class="bg-underflow_grey-700">
        <tr class="text-underflow_grey-50 font-semibold" *ngFor="let userRegistred of usersListRegistred">
          <td class="px-4 py-3 text-ms">{{userRegistred.first_name}}</td>
          <td class="px-4 py-3 text-ms">{{userRegistred.last_name}}</td>
          <td class="px-4 py-3 text-ms">{{userRegistred.classe?.title}}</td>
          <td class="px-4 py-3 text-ms">{{userRegistred.email}}</td>
          <td class="px-4 py-3 text-ms">
            <div class="flex justify-end space-x-10px items-center">
              <label class="switch">
                <input type="checkbox"
                       [checked]="userRegistred.present"
                       (click)="toggle_presence(userRegistred.email)">
                <span class="slider round"></span>
              </label>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<ng-template #separator>
  <div class="w-full h-1px px-100px border border-underflow_blue-50"></div>
</ng-template>
