<section class="flex justify-between items-center h-full w-full px-100px">
  <div class="w-3/5 flex flex-col h-full">
    <div class="w-200px">
      <img src="./assets/images/svg/dotDoubleLine.svg" alt="decoration double lignes de points">
    </div>
    <div>
      <h1 class="text-72px text-center">{{title}}</h1>
    </div>
    <app-base-under-title></app-base-under-title>
  </div>
  <div class="w-2/5 h-full">
    <img src="./assets/images/svg/underflowLandingIllustration.svg" alt="Illustration Scratch Underflow">
  </div>
</section>
