<app-header-admin></app-header-admin>
<form [formGroup]="form"
      class="flex flex-wrap justify-center items-center w-full text-underflow_blue-300 px-30px lg:px-100px lg:flex-nowrap pt-50px">
  <fieldset>
    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10">
      <div class="flex relative flex-col justify-center items-center lg:items-start mt-10px lg:mt-0">
        <label class="text-12px" for="title">Title</label>
        <input name="title" formControlName="title"
               type="text" id="title"
               class="w-250px sm:w-500px h-60px bg-underflow_grey-800 border-underflow_blue-300
               border-2 rounded-lg px-8 text-14px my-2 text-underflow_grey-50">
        <span *ngIf="error_title" class="underflow-error-message">●  L'intitulé saisi n'est pas valide</span>
      </div>
    </div>

    <div class="flex justify-end w-full form-buttons mt-30px">
      <button
        class="underflow-button-filled"
        (click)="submit()">Submit
      </button>
    </div>
  </fieldset>
</form>
