<section class="container mx-auto p-6 relative">
  <div class="grid grid-cols-2 justify-items-start">
    <div class="flex items-center">
      <img src="../../../../../assets/images/svg/ecureuil-right.svg" alt="Scratch"
           class="mr-30px h-35px w-35px" draggable="false">
      <h2 class="text-36px">Utilisateur</h2>
    </div>
    <div class="justify-self-end">
      <button (click)="display=!display">
        <img src="../../../../../assets/images/svg/hidden.svg" alt="hidden"
             class="h-35px w-35px" draggable="false">
      </button>
    </div>
  </div>
  <div *ngIf="display else separator;" class="w-full mt-30px mb-8 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
        <tr
          class="text-md font-semibold tracking-wide text-left text-underflow_grey-50 bg-underflow_grey-800 uppercase border-b border-underflow-900">
          <th class="px-4 py-3">Nom</th>
          <th class="px-4 py-3">Prénom</th>
          <th class="px-4 py-3">Classe</th>
          <th class="px-4 py-3">Email</th>
          <th class="px-4 py-3"></th>
        </tr>
        </thead>
        <tbody class="bg-underflow_grey-700">
        <tr class="text-underflow_grey-50 font-semibold" *ngFor="let user of usersList">
          <td class="px-4 py-3 text-ms">{{user.first_name}}</td>
          <td class="px-4 py-3 text-ms">{{user.last_name}}</td>
          <td class="px-4 py-3 text-ms">{{user.classe?.title}}</td>
          <td class="px-4 py-3 text-ms">{{user.email}}</td>
          <td class="md:px-4 py-3 text-ms">
            <div class="flex justify-end space-x-10px items-center">
<!--              <button (click)="change(user)"><img src="../../../../../assets/images/svg/pencil.svg" alt="edit" class="h-20px w-20px"></button>-->
              <button (click)="clickDelete(user)"><img src="../../../../../assets/images/svg/delete.svg" alt="delete" class="h-20px w-20px" draggable="false"></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div (click)="validation = !validation" *ngIf="validation"
       class="absolute top-0 left-0 h-full w-full flex justify-center items-center flex-col">
    <div class="w-200px h-200px p-20px rounded-2xl bg-underflow_orange-900 flex flex-col justify-center items-center">
      <p>Est tu sûr de delete cette utilisateur ? -> {{userToDelete.email}}</p>
      <div class="pt-20px">
        <button (click)="delete()">
          <img src="../../../../../assets/images/svg/validation.svg"
               alt="delete validation"
               class="h-30px w-30px" draggable="false"></button>
        <button class="ml-10px" (click)="validation = !validation">
          <img src="../../../../../assets/images/svg/back.svg"
               alt="cancel"
               class="h-30px w-30px" draggable="false">
        </button>
      </div>
    </div>
  </div>
</section>
<ng-template #separator>
  <div class="w-full h-1px px-100px border border-underflow_blue-50"></div>
</ng-template>
