<div class="relative">
  <div class="px-4 mx-10px lg:mx-100px lg:px-6">
    <div class="flex justify-between items-center py-6 lg:justify-start lg:space-x-10">
      <div class="flex z-40 justify-start lg:w-0 lg:flex-1">
        <a routerLink="/" draggable="false">
          <span class="sr-only">Scratch Underflow</span>
          <!--          Halloween alt -->
          <!--          <img class="w-auto h-8 lg:h-10" src="./assets/images/specials/ecureuil-right_halloween.svg"-->
          <img class="w-auto h-8 lg:h-10" src="./assets/images/svg/ecureuil-right.svg"
               alt="Scratch Underflow - Entraide étudiante" draggable="false">
        </a>
      </div>
      <div class="z-40 -my-2 -mr-2 lg:hidden">
        <button type="button"
                class="inline-flex justify-center items-center p-2 text-gray-50 rounded-md"
                aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <svg id="burger-menu" (click)="clickEvent()"
               [ngClass]="status ? 'active' : '' "
               class="h-30px w-30px"
               xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
               aria-hidden="true">
            <g id="top">
              <path class="st0" d="M4,6h16"/>
            </g>
            <g id="mid">
              <line class="st0" x1="4" y1="12" x2="20" y2="12"/>
            </g>
            <g id="mid-alt">
              <line class="st0" x1="4" y1="12" x2="20" y2="12"/>
            </g>
            <g id="bot">
              <line class="st0" x1="4" y1="18" x2="20" y2="18"/>
            </g>
          </svg>
        </button>
      </div>
      <nav id="nav" class="underflow-fadeInvisible flex flex-col justify-between items-center py-200px
      absolute top-0 left-0 z-10 h-screen w-screen bg-underflow_grey-800 lg:bg-transparent
      lg:flex-row lg:static lg:h-auto lg:w-auto lg:p-auto lg:py-0 lg:space-x-60px">
        <a routerLink="/les-cours" class="text-center text-underflow_grey-50">
          Les cours
        </a>
        <a routerLink="/donner-un-cours" class="text-center text-underflow_grey-50">
          Donner un cours
        </a>
        <a routerLink="/suggerer-un-cours" class="text-center text-underflow_grey-50">
          Suggérer un cours
        </a>
        <!--        <a routerLink="/les-fiches" class="text-center text-underflow_grey-50">-->
        <!--          Les fiches-->
        <!--        </a>-->
        <a routerLink="/profil" class="text-center text-underflow_grey-50">
          Mon profil
        </a>

      </nav>
      <div class="hidden justify-end items-center lg:flex lg:flex-1 lg:w-0">
        <a routerLink="/contribute" draggable="false" class="mr-30px">
          <img class="w-30px h-30px" src="./assets/images/svg/github.svg"
               alt="Github - Contribuer" draggable="false">
        </a>

        <a routerLink="/profil" draggable="false">
          <img class="w-30px h-30px" src="./assets/images/svg/profile-user.svg"
               alt="Logo ScratchUnderflow - Entraide étudiante" draggable="false">
        </a>


      </div>
    </div>
  </div>
</div>
