<form [formGroup]="form"
      class="text-underflow_blue-300 flex justify-center items-center w-full px-30px lg:px-100px flex-wrap lg:flex-nowrap">
  <fieldset>
    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10">
      <div class="flex flex-col justify-center items-start mt-0 relative">
        <label class="text-left text-12px" for="title">
          Intitulé du cours suggéré
        </label>
        <input name="title" formControlName="title" placeholder="Intitulé du cours"
               type="text" id="title"
               class="underflow-input">
        <span *ngIf="error_title" class="underflow-error-message">●  L'intitulé saisi n'est pas valide</span>
      </div>

      <div class="flex flex-col justify-center items-start mt-10px lg:mt-0 relative">
        <label class="text-left text-12px" for="date_butoir">Date butoire</label>
        <input name="date_butoir" formControlName="date_butoir"
               type="datetime-local" id="date_butoir" [min]="date_min" [max]="date_max"
               class="filter_date-css-custom underflow-input-date">
        <span *ngIf="error_date" class="underflow-error-message">●  La date saisie n'est pas valide</span>
      </div>
    </div>

    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10 lg:mt-30px">
      <div class="flex flex-col justify-center items-start mt-10px lg:mt-0 relative">
        <label class="text-left text-12px" for="subjects">
          Thème abordé suggéré
        </label>
        <input list="subjects_datalist" name="subjects" id="subjects" autocomplete="off"
               placeholder="écrire ici pour ajouter un thème / une matière" formControlName="subjects"
               class="select-css-custom underflow-input">
        <datalist id="subjects_datalist">
          <option *ngFor="let subject of subjectslist;"
                  value="{{subject.title}}">{{subject.title}}</option>
        </datalist>
        <span *ngIf="error_subject" class="underflow-error-message">●  Le thème saisi n'est pas valide</span>
      </div>

      <div class="flex flex-col justify-center items-start mt-10px lg:mt-0 relative">
        <label class="text-left text-12px text-left" for="classes">Niveau ciblé suggéré</label>
        <select name="classes" id="classes" formControlName="classes"
               class="select-css-custom underflow-input-select">
          <option *ngFor="let classe of classesList;"
                  value="{{classe.id}}">{{classe.title}}</option>
        </select>
        <span *ngIf="error_classe" class="underflow-error-message">●  Le niveau saisi n'est pas valide</span>
      </div>

    </div>

    <div class="form-buttons w-full flex justify-end mt-30px">
      <button
        class="underflow-button-filled"
        (click)="submit()">Envoyer la suggestion
      </button>
    </div>
  </fieldset>
</form>
