<form [formGroup]="form"
      class="text-underflow_blue-300 flex justify-center items-center w-full px-30px lg:px-100px flex-wrap lg:flex-nowrap">
  <fieldset>
    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10">
      <div class="flex flex-col justify-center items-center lg:items-start mt-0 relative">
        <label class="text-12px" for="title">
          INTITULÉ DU COURS DEMANDÉ
        </label>
        <input name="title" formControlName="title" placeholder="Intitulé du cours"
               type="text" id="title"
               class="w-250px sm:w-500px h-60px bg-underflow_grey-800 border-underflow_blue-300
               border-2 rounded-lg px-8 text-14px my-2 text-underflow_grey-50">
        <span *ngIf="error_title" class="underflow-error-message">●  L'intitulé saisi n'est pas valide</span>
      </div>

      <div class="flex flex-col justify-center items-center lg:items-start mt-10px lg:mt-0 relative">
        <label class="text-12px" for="date_butoir">DATE BUTOIRE</label>
        <input name="date_butoir" formControlName="date_butoir"
               type="datetime-local" id="date_butoir" [min]="date_min" [max]="date_max"
               class="w-250px sm:w-500px h-60px bg-underflow_grey-800
               border-underflow_blue-300 border-2 rounded-lg px-8 text-14px my-2 text-underflow_grey-50">
        <span *ngIf="error_date" class="underflow-error-message">●  La date saisie n'est pas valide</span>
      </div>
    </div>

    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10 lg:mt-30px">
      <div class="flex flex-col justify-center items-center lg:items-start mt-10px lg:mt-0 relative">
        <label class="text-12px" for="subjects">
          THÈME ABORDÉ DEMANDÉ
        </label>
        <input list="subjects_datalist" name="subjects" id="subjects" autocomplete="off"
               placeholder="écrire ici pour ajouter un thème / une matière" formControlName="subjects"
               class="select-css-custom w-250px sm:w-500px h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2
               rounded-lg hover:rounded-b-none focus:rounded-b-none hover:rounded-t-lg
                px-8 text-14px my-2 text-underflow_grey-50">
        <datalist id="subjects_datalist">
          <option *ngFor="let subject of subjectslist;"
                  value="{{subject.title}}">{{subject.title}}</option>
        </datalist>
        <span *ngIf="error_subject" class="underflow-error-message">●  Le thème saisi n'est pas valide</span>
      </div>

      <div class="flex flex-col justify-center items-center lg:items-start mt-10px lg:mt-0 relative">
        <label class="text-12px text-left" for="classes">NIVEAU CIBLÉ SUGGÉRÉ</label>
        <select name="classes" id="classes" formControlName="classes"
               class="select-css-custom w-250px h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2
               rounded-lg hover:rounded-b-none focus:rounded-b-none hover:rounded-t-lg
                px-8 text-14px my-2 text-underflow_grey-50">
          <option *ngFor="let classe of classesList;"
                  value="{{classe.id}}">{{classe.title}}</option>
        </select>
        <span *ngIf="error_classe" class="underflow-error-message">●  Le niveau saisi n'est pas valide</span>
      </div>

    </div>

    <div class="form-buttons w-full flex justify-end mt-30px">
      <button
        class="button button-primary bg-underflow_blue-300 w-200px h-60px rounded-lg text-underflow_grey-900 text-12px"
        (click)="submit()">Envoyer la demande
      </button>
    </div>
  </fieldset>
</form>
