<div class="lg:h-99vh w-screen flex flex-col justify-center items-center align-center overflow-hidden">

  <div class="flex flex-col-reverse lg:flex-row justify-center items-center mt-60px">
    <img class="h-10 w-auto lg:h-20" src="./assets/images/svg/ecureuil-right.svg"
         alt="Scratch Underflow - Entraide étudiante" draggable="false">

    <h2 class="text-36px  lg:text-60px lg:p-10">Reset Password</h2>
  </div>

  <form [formGroup]="form"
        class="text-underflow_blue-300 flex flex-col justify-center items-center lg:h-99vh w-screen mb-10">
    <fieldset>
      <div class="form-field flex flex-col my-8 relative">
        <label class="text-12px">EMAIL</label>
        <input name="email" formControlName="email" placeholder="email@scratchunderflow.fr"
               oninput="this.value = this.value.toLowerCase()"
               class="underflow-input">
        <span *ngIf="error_email" class="underflow-error-message">
          ●  l'email saisi n'est pas valide
        </span></div>
    </fieldset>
    <div class="form-buttons w-80 lg:w-500px flex justify-between flex flex-row-reverse">
      <button
        [ngClass]="disableButton ? 'opacity-25' : 'opacity-100'"
        class="underflow-button-filled"
        (click)="submit()" [disabled]="disableButton">Envoyer
      </button>
      <button
        class="underflow-button-unfilled"
        (click)="goLogin()">Retour
      </button>
    </div>
  </form>
</div>
