<app-courses-creates-filter (onSuggestPicked)="suggestPicked($event)"></app-courses-creates-filter>
<form [formGroup]="form"
      class="text-underflow_blue-300 flex justify-center
      items-center w-full px-30px lg:px-100px flex-wrap lg:flex-nowrap z-10"
      id="formCreate" name="formCreate">
  <fieldset>
    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10">
      <div class="flex relative flex-col justify-start items-start mt-0 md:justify-center mt-10px">
        <label class="text-left text-12px" for="title">Intitulé du cours</label>
        <input name="title" formControlName="title" placeholder="Intitulé du cours"
               type="text" id="title"
               class="underflow-input">
        <span *ngIf="error_title" class="underflow-error-message">●  L'intitulé saisi n'est pas valide</span>
      </div>
      <div class="flex relative flex-col justify-center items-start mt-10px lg:mt-0">
        <label class="text-left text-12px" for="date">Date du cours</label>
        <input name="date" formControlName="date" id="date"
               type="datetime-local" [min]="date_min" [max]="date_max"
               class="filter_date-css-custom underflow-input-date">
        <span *ngIf="error_date" class="underflow-error-message">●  La date saisie n'est pas valide</span>
      </div>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10 lg:mt-30px mt-10px">
      <div class="flex relative flex-col justify-center items-start mt-10px lg:mt-0">
        <label class="text-12px" for="subjects">Thème abordé</label>
        <input list="subjects_datalist" name="subjects" id="subjects" autocomplete="off"
               placeholder="Saisis ou sélectionnes une matière / un thème ici" formControlName="subjects"
               class="select-css-custom underflow-input">
        <datalist id="subjects_datalist">
          <option *ngFor="let subject of subjectslist;"
                  value="{{subject.title}}">{{subject.title}}</option>
        </datalist>
        <span *ngIf="error_subject" class="underflow-error-message">●  Le thème saisi n'est pas valide</span>
      </div>

      <div class="flex relative flex-col justify-center items-start mt-10px lg:mt-0">
        <label class="text-left text-12px" for="classes">Niveau ciblé</label>
        <select name="classes" id="classes" formControlName="classes"
                class="select-css-custom underflow-input-select">
          <option *ngFor="let classe of classesList;"
                  value="{{classe.id}}">{{classe.title}}</option>
        </select>
        <span *ngIf="error_classe" class="underflow-error-message">●  Le niveau saisi n'est pas valide</span>
      </div>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10 lg:mt-30px mt-10px">
      <div class="flex relative flex-col justify-center items-start mt-10px lg:mt-0">
        <label class="text-left text-12px" for="description">Description</label>
        <textarea name="description" id="description" cols="30"
                  rows="10" formControlName="description"
                  class="underflow-input-text-area"
                  placeholder="Décris ton cours et ce que tu comptes faire durant celui-ci !"></textarea>
        <span *ngIf="error_description" class="underflow-error-message">●  La description saisie n'est pas valide</span>
      </div>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap lg:space-x-10 lg:mt-30px mt-10px">
      <div class="flex flex-col justify-center items-start mt-0">
        <label class="text-left text-12px" for="room">Salle</label>
        <input name="room" formControlName="room" placeholder="Salle..."
               type="text" id="room"
               class="underflow-input">
        <span *ngIf="error_room" class="underflow-error-message">●  La salle saisie n'est pas valide</span>
      </div>
      <div class="flex justify-end items-end w-full form-buttons mt-30px">
        <button
          class="rounded-lg button button-primary bg-underflow_blue-300 w-200px h-60px text-underflow_grey-900 text-12px"
          (click)="submit()">Proposer le cours
        </button>
      </div>
    </div>


  </fieldset>
</form>
