<div *ngIf="message "
     class="bg-underflow_green-500 fixed bottom-0 right-0 z-10 m-10px md:m-30px p-4 rounded-lg flex justify-between"
     [class.bg-underflow_orange-300]="message.error == true" [@openClose]="message.close ? 'closed' : 'open'">
  <div class="">
    {{message.content}}
  </div>
  <button class="delete flex justify-center items-center" (click)="closeMessage()">
    <img src="./assets/images/svg/cross.svg" alt="cross" class="ml-10px h-15px w-15px mb-2px invert">
  </button>
</div>
