<div class="flex w-full h-99vh justify-center align-center items-center flex-col">

  <div class="flex flex-col-reverse lg:flex-row justify-center items-center my-60px">
    <img class="h-10 w-auto lg:h-20" src="./assets/images/svg/ecureuil-right.svg"
         alt="Scratch Underflow - Entraide étudiante" draggable="false">

    <h2 class="text-36px  lg:text-60px lg:p-10">ScratchUnderflow</h2>
  </div>

  <p class="text-24px text-center">Vérifie ta boîte de réception pour confirmer ton email.</p>
  <p class="text-24px text-center">[ vérifie les courriers indésirables également ]</p>
  <p class="text-10px text-center">Tu ne trouves pas le mail de confirmation ? Contacte un des membres de l'équipe de
    Scratch Underflow !</p>


  <div>
    <button
      class="button button-primary  bg-underflow_blue-300 w-100px h-60px lg:w-200px lg:h-60px rounded-lg text-underflow_grey-800 text-12px m-30px font-bold"
      (click)="goLogin()">Retour
    </button>
    <button
      [ngClass]="disableButton ? 'opacity-25' : 'opacity-100'"
      class="transition-opacity button button-primary  bg-underflow_orange-300 w-100px h-60px lg:w-200px lg:h-60px rounded-lg text-underflow_grey-800 text-12px m-30px font-bold"
      (click)="reSendMail()" [disabled]="disableButton">Renvoyer le mail
    </button>
  </div>


</div>
