<app-header-admin></app-header-admin>

<app-admin-classes [classesList]="classesList" (emitResetCallback_classe)="resetClasses()"></app-admin-classes>
<app-admin-subjects [subjectsList]="subjectslist" (emitResetCallback_subject)="resetSubjects()"></app-admin-subjects>
<app-admin-users [usersList]="userslist" (emitResetCallback_user)="resetUsers()"></app-admin-users>
<app-admin-courses [coursesList]="coursesList" (emitResetCallback_course)="resetCourses()"></app-admin-courses>
<app-admin-suggestions [suggestsList]="suggestsList" (emitResetCallback_suggestion)="resetSuggestions()"></app-admin-suggestions>
