<div class="w-full flex justify-center pt-100px">
  <div class="w-full justify-center flex">
    <div class="h-full flex justify-center items-center">
      <img src="./assets/images/svg/ecureuil-right.svg" alt="Scratch"
           class="mr-30px h-50px w-50px">
      <h1 class="text-36px text-center">Admin page</h1>
      <img src="./assets/images/svg/ecureuil.svg" alt="Scratch"
           class="ml-30px h-50px w-50px">
    </div>
  </div>
</div>

<app-admin-classes [classesList]="classesList"></app-admin-classes>
<app-admin-subjects [subjectsList]="subjectslist"></app-admin-subjects>
<app-admin-users [usersList]="userslist"></app-admin-users>
<app-admin-courses [coursesList]="coursesList"></app-admin-courses>

