<form [formGroup]="form"
      class="text-underflow_blue-300 flex flex-col justify-center items-center h-99vh w-screen ">
  <fieldset>
    <div class="form-field flex flex-col my-8">
      <label class="text-12px">EMAIL </label>
      <input name="email" formControlName="email" placeholder="EMAIL@SCRATCHUNDERFLOW.FR" oninput="this.value = this.value.toLowerCase()"
             class="w-500px h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2 rounded-lg px-8 text-14px my-2">
    </div>
    <div class="form-field  flex flex-col my-8">
      <label class="text-12px">PRENOM </label>
      <input name="firstname" formControlName="firstname" placeholder="SCRATCH" oninput="this.value = this.value.toLowerCase()"
             class="w-500px h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2 rounded-lg px-8 text-14px my-2">
    </div>
    <div class="form-field  flex flex-col my-8">
      <label class="text-12px">NOM </label>
      <input name="lastname" formControlName="lastname" placeholder="UNDERFLOW" oninput="this.value = this.value.toLowerCase()"
             class="w-500px h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2 rounded-lg px-8 text-14px my-2">
    </div>
    <div class="form-field  flex flex-col my-8">
      <label class="text-12px">MOT DE PASSE</label>
      <input name="password" formControlName="password"
             type="password" placeholder="●●●●●●●●●●"
             class="w-500px h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2 rounded-lg px-8 text-14px my-2">
    </div>
  </fieldset>
  <div class="form-buttons w-500px flex justify-between flex flex-reverse">

    <button class="button button-primary bg-underflow_blue-300 w-200px h-60px rounded-lg text-underflow_grey-800 text-20px"
            (click)="register()">Register
    </button>
    <button class="button button-primary bg-underflow_grey-800 border-2 border-underflow_blue-300 w-200px h-60px rounded-lg text-underflow_blue-300 text-20px"
            (click)="login()">Login
    </button>
  </div>
</form>
