<div class="lg:h-99vh w-screen flex flex-col justify-center items-center align-center overflow-hidden">

  <div class="flex flex-col-reverse lg:flex-row justify-center items-center mt-60px">
    <img class="h-10 w-auto lg:h-20" src="./assets/images/svg/ecureuil-right.svg"
         alt="Scratch Underflow - Entraide étudiante" draggable="false">

    <h2 class="text-36px  lg:text-60px lg:p-10">ScratchUnderflow</h2>
  </div>

  <form [formGroup]="form"
        class="text-underflow_blue-300 flex flex-col justify-center items-center lg:h-99vh w-screen mb-10">
    <fieldset>
      <div class="form-field flex flex-col my-8 relative">
        <label class="text-12px">EMAIL</label>
        <input name="email" formControlName="email" placeholder="email@scratchunderflow.fr"
               oninput="this.value = this.value.toLowerCase()"
               class="underflow-input">
        <span *ngIf="error_email" class="underflow-error-message">
          ●  l'email saisi n'est pas valide
        </span></div>
      <div class="form-field  flex flex-col my-8 relative">
        <label class="text-12px">PRÉNOM</label>
        <input name="firstname" formControlName="firstname" placeholder="..."
               oninput="this.value = this.value[0].toUpperCase() + this.value.toLowerCase().substring(1);"
               class="underflow-input">
        <span *ngIf="error_firstname" class="underflow-error-message">
          ●  le prénom saisi n'est pas valide
        </span>
      </div>
      <div class="form-field flex flex-col my-8 relative">
        <label class="text-12px">NOM</label>
        <input name="lastname" formControlName="lastname" placeholder="..."
               oninput="this.value = this.value[0].toUpperCase() + this.value.toLowerCase().substring(1);"
               class="underflow-input">
        <span *ngIf="error_lastname" class="underflow-error-message">
          ●  le nom saisi n'est pas valide
        </span>
      </div>
      <div class="form-field  flex flex-col my-8 relative">
        <label class="text-12px">MOT DE PASSE</label>
        <input name="password" formControlName="password"
               type="password" placeholder="●●●●●●●●●●"
               class="underflow-input">
        <span *ngIf="error_password" class="mt-5px text-red-400 text-10px md:text-12px absolute -bottom-15px left-0">
          ●  Erreur (8 caractères, 1 majuscule, 1 nombre, au minimum)
        </span>
      </div>
    </fieldset>
    <div class="form-buttons w-80 lg:w-500px flex justify-between flex flex-row-reverse">
      <button
        class="underflow-button-filled"
        (click)="register()">S'inscrire
      </button>
      <button class="underflow-button-unfilled"
              (click)="login()">Se connecter
      </button>
    </div>
  </form>
</div>
