<div class="lg:h-99vh w-screen flex flex-col justify-center items-center align-center overflow-hidden">

  <div class="flex flex-col-reverse lg:flex-row justify-center items-center mt-60px">
    <img class="h-10 w-auto lg:h-20" src="./assets/images/svg/ecureuil-right.svg"
         alt="Scratch Underflow - Entraide étudiante" draggable="false">

    <h2 class="text-36px  lg:text-60px lg:p-10">ScratchUnderflow</h2>
  </div>

  <form [formGroup]="form"
        class="text-underflow_blue-300 flex flex-col justify-center items-center lg:h-99vh w-screen mb-10">
    <fieldset>
      <div class="form-field flex flex-col my-8 relative">
        <label class="text-12px">EMAIL </label>
        <input name="email" formControlName="email" placeholder="EMAIL@SCRATCHUNDERFLOW.FR"
               oninput="this.value = this.value.toLowerCase()"
               class="w-250px h-60px lg:w-500px lg:h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2 rounded-lg px-2 lg:px-8 text-14px my-2">
        <span *ngIf="error_email" class="mt-5px text-red-400 text-12px absolute -bottom-15px left-0">
          X - l'email saisie n'est pas valide
        </span></div>
      <div class="form-field  flex flex-col my-8 relative">
        <label class="text-12px">PRENOM </label>
        <input name="firstname" formControlName="firstname" placeholder="SCRATCH"
               oninput="this.value = this.value[0].toUpperCase() + this.value.toLowerCase().substring(1);"
               class="w-250px h-60px lg:w-500px lg:h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2 rounded-lg px-2 lg:px-8 text-14px my-2">
        <span *ngIf="error_firstname" class="mt-5px text-red-400 text-12px absolute -bottom-15px left-0">
          X - le prénom saisi n'est pas valide
        </span>
      </div>
      <div class="form-field  flex flex-col my-8 relative">
        <label class="text-12px">NOM </label>
        <input name="lastname" formControlName="lastname" placeholder="UNDERFLOW"
               oninput="this.value = this.value[0].toUpperCase() + this.value.toLowerCase().substring(1);"
               class="w-250px h-60px lg:w-500px lg:h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2 rounded-lg px-2 lg:px-8 text-14px my-2">
        <span *ngIf="error_lastname" class="mt-5px text-red-400 text-12px absolute -bottom-15px left-0">
          X - le nom saisi n'est pas valide
        </span>
      </div>
      <div class="form-field  flex flex-col my-8 relative">
        <label class="text-12px">MOT DE PASSE</label>
        <input name="password" formControlName="password"
               type="password" placeholder="●●●●●●●●●●"
               class="w-250px h-60px lg:w-500px lg:h-60px bg-underflow_grey-800 border-underflow_blue-300 border-2 rounded-lg px-2 lg:px-8 text-14px my-2">
        <span *ngIf="error_password" class="mt-5px text-red-400 text-12px absolute -bottom-15px left-0">
          X - Erreur (8 caractères, 1 majuscule, 1 nombre, au minimum)
        </span>
      </div>
    </fieldset>
    <div class="form-buttons w-250px flex justify-center flex flex-row-reverse">
      <div>
        <button
          class="button button-primary ml-10px bg-underflow_blue-300 w-100px h-60px lg:w-200px lg:h-60px rounded-lg text-underflow_grey-800 text-12px"
          (click)="register()">S'inscrire
        </button>
      </div>
      <div>
        <button
          class="button button-primary bg-underflow_grey-800 border-2 border-underflow_blue-300 w-100px h-60px lg:w-200px lg:h-60px rounded-lg text-underflow_blue-300 text-12px"
          (click)="login()">Aller sur la page de connexion
        </button>
      </div>
    </div>
  </form>
</div>
