<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--<app-base-->
<!--  title="Tutorat & Entraide"-->
<!--  [landingMode]="true"-->
<!--  [additionalCitation]="true"-->
<!--  citation="Enseigner, c'est apprendre deux fois."-->
<!--&gt;</app-base>-->

<app-base
  title="Les cours"
  [landingMode]="false"
  descriptionFirstPart="Trouve les cours disponibles,"
  descriptionSecondPart="choisis le mieux adapté à tes besoins et inscris-toi !"
  [additionalCitation]="false"
  [additionalButton]="true"
  path="/courses-registrations"
  assetPath="./assets/images/svg/question.svg"
  alt="Proposition de cours"
  content="Proposer un cours"
  [alternative]="false"
  additionnalSentence="Tu ne trouves pas le cours que tu voulais ?"
></app-base>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
