<app-courses-registrations-filter
  [coursesList]="coursesList"
  [classesList]="classesList"
  [courseInscription]="courseInscription"
  [filter_selectedClasse]="filter_selectedClasse"
  [filter_selectedDateStart]="filter_selectedDateStart"
  [filter_selectedDateEnd]="filter_selectedDateEnd"
  [filter_searchBarText]="filter_searchBarText"
  (triggeredClasse)="triggerFilterClasse($event)"
  (triggeredDateStart)="triggerFilterDateStart($event)"
  (triggeredDateEnd)="triggerFilterDateEnd($event)"
  (triggeredBarText)="triggerFilterBarText($event)"
>
</app-courses-registrations-filter>

<ul class="flex justify-center px-10px lg:px-100px py-100px flex-wrap">
  <li *ngFor="let course of coursesList | filter:filter_searchBarText">
    <app-card *ngIf="displayable(course.id) "
              [checked]="elemCheck(course?.id)"
              (outputclickEvent)="clickEvent(course?.id)"
              [id]="course?.id"
              [title]="course?.subject?.title"
              [course_title]="course?.title"
              [course_description]="course?.description"
              [course_room]="course?.room"
              [course_classe_title]="course?.classe?.title"
              [course_date_start]="course?.date_start"
              [routerLink_url]="'/user/course/'+course.id"
              [registrationMode]="true">
    </app-card>
  </li>
  <li *ngIf="checkEmpty()">
    Aucun cours disponible ! 😨
  </li>
</ul>
