/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: all ease-in-out .3s;
  font-family: hero-new, sans-serif;
}

html {
  overflow-x: hidden;
  max-width: 100vw
}

body {
  box-sizing: border-box;
  display: inline-block;
  width: 100vw;
  max-width: 100vw;
  clear: both;
  overflow-x: hidden
}

nav a {
  text-decoration: none
}

html {
  scroll-behavior: smooth
}

h1, h1 *, h2, h3, h4, h5, h6, nav * {
  font-family: chennai, sans-serif;
  font-weight: 400;
}

a:focus, a:hover, button:focus, button:hover {
  filter: saturate(120%) brightness(120%);
  transition: all ease-in-out .2s
}

.underflow-citation {
  font-style: italic;
  font-family: hero-new, sans-serif;
}

.underflow-fadeInvisible {
  pointer-events: none;
  opacity: 0;
  z-index: -1;
  height: 0;
  padding: 0;
  transition: opacity ease-in-out .2s, z-index ease-in-out .2s, height ease-in-out .5s, padding ease-in-out .5s
}

.underflow-fadeInvisible a {
  opacity: 0;
  z-index: -1;
  transition: opacity ease-in-out .2s;
  transition-delay: 0.5s
}

.underflow-fadeVisible {
  pointer-events: auto;
  opacity: 1;
  z-index: 10;
  height: 100vh;
  padding: 200px 0;
  transition: opacity ease-in-out .2s, z-index ease-in-out .2s, height ease-in-out .5s, padding ease-in-out .5s
}

.underflow-fadeVisible a {
  opacity: 1;
  z-index: 10;
  transition: opacity ease-in-out .2s;
  transition-delay: 0.5s
}
