<h1>Vous souhaitez contribuer ?</h1>
<p>C'est tres gentils de votres part !</p>
<h2>Changelog</h2>
<h3>1.0.0</h3>
<p>Version de base ! Le "MVP" comme on dit ( *Minimal Viable Product* ou autrement dit le produit la version la plus minimal qu'on puisse sortir avec les fonctionalité
  minaml ! ).
  Qu'est ce que ca veux dire ? </p>
<p>Il y vas y avoir des ameliorations ! On a encore plein d'idees ! Et on travail dure tout les soir apres le boulots pour vous les apporter !</p>
<p>Evidement on a aussi une vie apres les cours et le boulots ( enfin je crois :thinking: ) du coup on a pas le temps de tout faire, et de c'est pour cette raison que
  cette page existe ! </p>
<p>En gros, c'est un projet etudiant colaboratif ! ( c'est a dire qu'il ne nous appartien pas ! Il a ete concus pour que n'importe qui, donc toi, tu puisse venir nous
  aider ! )</p>
<p>Tu aimerais nous aider mais tu ne comprends rien a se qu'on a fait ? pas de soucis ! on t'explique comment faire !</p>
<h2>Notre fonctionement </h2>

<p>Tout d'abors, Qui somme nous ? </p>
<p> On a une toute petite equipe pour le moment, mais elle vas s'agrandir avec ton arrivé ! </p>
<p> Les referant du projets sont : </p>
<ul>
  <li>Andy Cinquin (@Andy Cinquin#7540) en B3, il s'occupe du disign, du front, et de tout ce que vous voyez quand vous utilisé quand l'application !</li>
  <li>Mathis Gauthier (@Fade#5472) en B3, il s'occupe de l'API et de tout ce que vous ne voyez pas ! Tout se qui gere les données, c'est lui !</li>
  <li>Bréval Le FLoch (@LightIn#8137) en B3, (c'est moi coucou !) il touche un peux a tout et s'occupe de la bonne orchestration du front et de l'API, ainsi que des
    serveurs
  </li>
  <li>Bientot il y aura votre nom a cette ligne ! :3</li>
</ul>
<p>Il y a aussi Pierre Vallade (@ysh#7352) et Valentin Grit (@~/Hyrion#1657), qui nous ont bien aider pour mettre en place les serveurs !</p>


<h2>Liens pour nous aider </h2>

Si vous avez une idee, que vous voulez la coder, pas de soucis ! Ce sera avec un immense plaisir !
Envoyez nous un petit message sur discord avec votre idée, et on vas vous guidez pour l'implementer !

<h3>Liens des gitlabs : </h3>
<ul>
  <li>Frontend : https://github.com/LightIn-death/Site-Underflow</li>
  <li>Backend : https://github.com/LightIn-death/API-Underflow</li>
</ul>

<p>Et si vous prefere nous payer un cafee, soit vous nous trouvez dans le couloir, soit vous pouvez donner un petit tips ici : </p>
<a href="https://paypal.me/BrevalLeFloch?locale.x=fr_FR">Paypal</a>

<p>( Bah oui, c'est pas gratuit d'heberger les serveurs :3 )</p>

<h2>Documentation</h2>


<p>Heuuuuuu..... </p>
<p>Tu te calme pour le moment !</p>
