h2 {
  //text-20px lg:text-30px font-bold font-chennai text-underflow_blue-200 py-10px md:py-30px
  font-size: 36px;
  font-weight: bold;
  font-family: chennai, sans-serif;
  color: #94A3E0;
  padding: 30px 0;
}

p {
  font-size: 16px;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  font-family: hero-new, sans-serif;
  color: #C0C8E7;
  padding: 10px 0;
}
