<app-base
  [base]="base"
></app-base>

<section class="flex justify-center flex-col px-30px lg:px-100px">
  <h2>
    Version de base ! Le "MVP"
  </h2>
  <p>
    *Minimal Viable Product* ou autrement dit la toute première version viable et fonctionnelle !
  </p>
  <h2>
    Qu'est-ce que ça veut dire ?
  </h2>
  <p>
    Il y va y avoir des améliorations ! On a encore plein d'idées ! Et l’on travail dur tout les soirs après le boulot
    pour vous les apportées !
  </p>
  <p>
    Évidement on a aussi une vie après les cours et le boulot ( enfin je crois 🤔 ) du coup on a pas le temps de
    tout faire, et de c'est pour cette raison que cette page existe !
  </p>
  <p>
    En gros, c'est un projet étudiant collaboratif ! ( c'est-à-dire qu'il ne nous appartient pas ! Il a été conçu pour
    que
    n'importe qui, donc toi, tu puisses venir nous aider ! )
  </p>
  <h3>
    Tu aimerais nous aider, mais tu ne comprends rien à ce qu'on a fait ? Pas de soucis ! on t'explique comment faire !
  </h3>


  <h2>
    Notre fonctionnement
  </h2>


  <h2>
    Tout d'abord, qui sommes nous ?
  </h2>
  <p>
    On a une toute petite équipe pour le moment, mais elle va s'agrandir avec ton arrivée !
  </p>
  <section id="presentation">
    <h2>
      Les référants du projet sont :
    </h2>
    <ul>
      <li>
        • Andy Cinquin (@Andy Cinquin#7540) en B3, il s'occupe du design, du front, et de tout ce que vous voyez quand
        vous
        utilisé quand l'application !
      </li>
      <li>
        • Mathis Gauthier (@Fade#5472) en B3, il s'occupe de l'API et de tout ce que vous ne voyez pas ! Tout ce qui
        gère les
        données, c'est lui !
      </li>
      <li>
        • Bréval Le FLoch (@LightIn#8137) en B3, il touche un peu à tout et s'occupe de la bonne
        orchestration du front et de l'API, ainsi que des serveurs
      </li>
      <li>
        • Bientôt il y aura votre nom qui s'ajoutera à cette ligne ! :3
      </li>
      <li>
        Il y a aussi Pierre Vallade (@ysh#7352) et Valentin Grit (@~/Hyrion#1657), qui nous ont bien aidés pour mettre
        en place les serveurs !
      </li>
    </ul>
  </section>


  <h2>
    Liens pour nous aider
  </h2>
  <p>
    Si vous avez une idée que vous voulez la coder, pas de soucis ! Ce sera avec un immense plaisir ! Envoyez-nous un
    petit message sur discord avec votre idée, et on va vous guider pour l'implémenter !
  </p>
  <h2>
    Liens Git des projets :
  </h2>
  <p>
    • Frontend :
    <a href="https://github.com/LightIn-death/Site-Underflow" rel="noreferrer noopener">
      https://github.com/LightIn-death/Site-Underflow
    </a>
  </p>
  <p>
    • Backend :
    <a href="https://github.com/LightIn-death/API-Underflow" rel="noreferrer noopener">
      https://github.com/LightIn-death/API-Underflow
    </a>
  </p>


  <h2>
    Tu n'as pas le temps où l'envie d'aider, fais un petit geste !
  </h2>
  <p>
    <a href="https://www.buymeacoffee.com/scratch" rel="noreferrer noopener">https://www.buymeacoffee.com/scratch</a> ( bah oui, ce n’est pas gratuit d'héberger les serveurs :3 )
  </p>



  <h2>
    Documentation
  </h2>
  <p>
    Heu..... ( ça arrivera ♥ )
  </p>

</section>

<app-footer></app-footer>
