<app-base
  [base]="base"
></app-base>

<section class="flex justify-center flex-col px-30px lg:px-100px">
  <div class="flex justify-center flex-col lg:w-1/2">

    <h2>Définition des termes utilisés dans la politique de confidentialité</h2>
    <p>
      On désignera par la suite :
      <br>
      « Donnée personnelle » : se définit comme « toute information relative à une personne physique identifiée ou qui
      peut être identifiée, directement ou indirectement, par
      référence à un numéro d'identification ou à un ou plusieurs éléments qui lui sont propres », conformément à la loi
      Informatique et libertés du 6 janvier 1978.
      « Service » : le service https://scratchunderflow.fr/ et l'ensemble de ses contenus.
      « Editeur » ou « Nous » : L'équipe Scratch Underflow, personne morale ou physique responsable de l'édition et du
      contenu du Service.
      « Utilisateur » ou « Vous » : l'internaute visitant et utilisant le Service.
    </p>
    <h2>Introduction et rôle de la Politique de confidentialité</h2>
    <p>
      La présente charte vise à vous informer des engagements du Service eu égard au respect de votre vie privée et à la
      protection des Données personnelles vous concernant,
      collectées et traitées à l'occasion de votre utilisation du Service.
      Il est important que vous lisiez la présente politique de confidentialité afin que vous soyez conscient des
      raisons pour lesquelles nous utilisons vos données et comment nous le
      faisons.
      En vous inscrivant sur le Service, vous vous engagez à nous fournir des informations véritables vous concernant.
      La communication de fausses informations est contraire aux
      conditions générales figurant sur le Service.
      Veuillez noter que la présente Politique de confidentialité est susceptible d’être modifiée ou complétée à tout
      moment, notamment en vue de se conformer à toute évolution
      législative, réglementaire, jurisprudentielle ou technologique. La date de sa mise à jour sera clairement
      mentionnée, le cas échéant.
      Ces modifications vous engagent dès leur mise en ligne et nous vous invitons donc à consulter régulièrement la
      présente Politique de confidentialité afin de prendre connaissance
      des éventuelles modifications.
      Vous trouverez également la description de vos droits à la protection de la vie privée et la façon dont la loi
      vous protège.
      Si vous avez des questions concernant la présente politique de confidentialité ou si vous voulez exercer vos
      droits tels que décrit à l’article 10 de la présente Politique de
      confidentialité, veuillez nous contacter par e-mail à l’adresse : contact@scratchunderflow.fr
    </p>
    <h2>
      Finalité des Données collectées
    </h2>
    <p>
      Les Données identifiées comme étant obligatoires sur les formulaires du Service sont nécessaires afin de pouvoir
      bénéficier des fonctionnalités correspondantes du Service, et
      plus spécifiquement des opérations sur les contenus proposés au sein de celui-ci.
      Le Service est susceptible de collecter et traiter les Données de ses Utilisateurs :
      Aux fins de recueillir des informations nous permettant d’améliorer notre Service, nos produits et fonctionnalités
      (notamment par l’usage des cookies).
      Aux fins de pouvoir vous contacter à propos de : Informations d'inscriptions, validations de comptes, changements
      de mot de passe.
    </p>
    <h2>
      Fondements légaux régissant le traitement des données
    </h2>
    <p>
      Conformément au Règlement Général sur la Protection des Données (RGPD), Scratch Underflow ne traite des données à
      caractère personnel que dans les situations suivantes :
      avec votre consentement ;
      lorsqu'il existe une obligation contractuelle (un contrat entre L'équipe Scratch et vous) ;
      pour répondre à une obligation légale (en vertu de la législation UE ou nationale).
    </p>
    <h2>Sécurité des Données</h2>
    <p>
      Vous êtes informés que vos Données pourront être divulguées en application d'une loi, d'un règlement ou en vertu
      d'une décision d'une autorité réglementaire ou judiciaire
      compétente ou encore, si cela s'avère nécessaire, aux fins, pour l'Editeur, de préserver ses droits et intérêts.
      Nous avons mis en place des mesures de sécurité appropriées afin d’empêcher que vos données personnelles ne soient
      accidentellement perdues, utilisées, modifiées, dévoilées
      ou consultées sans autorisation. De plus, l’accès à vos données personnelles est soumis à une procédure de
      sécurité définie et documentée.
    </p>
    <h2>
      Durée de conservation des Données

    </h2>
    <p>
      Les Données sont stockées chez l'hébergeur du Service, dont les coordonnées figurent dans les mentions légales du
      Service, et sont conservées pour la durée strictement
      nécessaire à la réalisation des finalités visées ci-avant et ne saurait excéder 36 mois. Au-delà de cette durée,
      elles seront conservées à des fins exclusivement statistiques et ne
      donneront lieu à aucune exploitation, de quelque nature que ce soit.
    </p>
    <h2>Droits informatiques et libertés</h2>
    <p>
      Conformément à la législation sur la protection des données personnelles, vous avez les droits détaillés ci-après
      que vous pouvez exercer, comme indiqué à l’Article 1 de la Présente Politique de confidentialité en nous écrivant
      à l’adresse postale (72 Avenue Camus, 44000 Nantes) ou en envoyant un courriel à contact@scratchunderflow.fr :

      Le droit d’information : nous avons l’obligation de vous informer de la manière dont nous utilisons vos données
      personnelles (tel que décrit dans la présente politique de confidentialité).
      Le droit d’accès : c’est votre droit d’effectuer une demande d’accès aux données vous concernant afin de recevoir
      une copie des données à caractère personnel que nous détenons ; Toutefois, en raison de l’obligation de sécurité
      et de confidentialité dans le traitement des données à caractère personnel qui incombe à l'équipe Scratch
      Underflow, vous êtes
      informé que votre demande sera traitée sous réserve que vous rapportiez la preuve de votre identité, notamment par
      la production d’un scan ou d’une photocopie de votre titre d’identité valide.
      Le droit de rectification : le droit de nous demander de rectifier des données personnelles vous concernant qui
      seraient incomplètes ou inexactes. Au titre de ce droit, la législation vous autorise à demander la rectification,
      la mise à jour, le verrouillage ou encore l’effacement des données vous concernant qui peuvent être inexactes,
      erronées, incomplètes ou obsolètes.
      Le droit à l’effacement, aussi connu sous le nom de « droit à l’oubli » : dans certains cas, vous pouvez nous
      demander de supprimer les données personnelles que nous avons vous concernant (mis à part s’il existe une raison
      juridique impérieuse qui nous oblige à les conserver).
      Le droit à la limitation du traitement : vous avez le droit dans certains cas de nous demander de suspendre le
      traitement des données personnelles,
      Le droit à la portabilité des données : vous avez le droit de nous demander une copie de vos données personnelles
      dans un format courant (par exemple un fichier .csv).
      Le droit d’opposition : vous avez le droit de vous opposer au traitement de vos données personnelles (par exemple,
      en nous interdisant de traiter vos données à des fins de marketing direct).
      Cependant, l’exercice de ce droit n’est possible que dans l’une des deux situations suivantes : lorsque l’exercice
      de ce droit est fondé sur des motifs légitimes ou lorsque l’exercice de ce droit vise à faire obstacle à ce que
      les données recueillies soient utilisées à des fins de prospection commerciale.

      Contactez-nous si vous souhaitez exercer l’un des droits décrits ci-dessus en nous écrivant à 72 Avenue Camus,
      44000 Nantes ou par courriel à contact@scratchunderflow.fr

      Vous n’aurez pas de frais à payer pour l’accès à vos données personnelles (ni pour l’exercice de tout autre
      droit). Cependant, nous pourrons vous facturer des frais raisonnables si votre demande est manifestement infondée,
      répétitive ou excessive. Dans ce cas, nous pouvons aussi refuser de répondre à votre demande.

      Scratch Underflow sera en droit, le cas échéant, de s’opposer aux demandes manifestement abusives de par leur
      caractère systématique, répétitif, ou leur nombre.

      Nous pouvons vous demander des informations spécifiques afin de confirmer votre identité et d’assurer votre droit
      d’accès à vos données personnelles (ou pour exercer tout autre droit). Il s’agit d’une mesure de sécurité pour
      garantir que ces données personnelles ne soient pas délivrées à une personne non autorisée à les recevoir. Nous
      pouvons aussi vous contacter pour obtenir plus d’informations concernant votre demande, afin de vous donner une
      réponse plus rapide.

      Nous essayons de répondre à toutes les demandes légitimes dans un délai d’un mois. Ce délai d’un mois peut être
      dépassé dans le cas où votre demande est particulièrement complexe ou si vous en avez fait plusieurs. Dans ce cas,
      nous vous préviendrons et vous tiendrons informé.
    </p>

    <h2>
      Plainte auprès de l’Autorité de protection des données
    </h2>
    Si vous considérez que l'équipe Scratch Underflow ne respecte pas ses obligations au regard de vos Informations
    Personnelles, vous
    pouvez adresser une plainte ou une demande auprès de l’autorité compétente. En France, l’autorité compétente est la
    CNIL à laquelle vous pouvez adresser une demande par voie électronique à l'adresse suivante :
    https://www.cnil.fr/fr/plaintes/internet.

    <h2>
      Politique relative aux cookies
    </h2>
    <p>
      Lors de votre première utilisation du Service https://scratchunderflow.fr/, vous êtes avertis que
      des informations relatives à votre navigation sont susceptibles d’être enregistrées dans des fichiers
      alphanumériques dénommés « cookies ». Notre politique d’utilisation des cookies vous permet de mieux comprendre
      les dispositions que nous mettons en œuvre en matière de navigation sur notre Service. Elle vous informe notamment
      sur l’ensemble des cookies présents sur notre Service, leur finalité et vous donne la marche à suivre pour les
      paramétrer.

      a) Informations générales sur les cookies présents sur le site
      L'équipe Scratch Underflow, en tant qu’éditeur du présent Service, pourra procéder à l’implantation de cookies sur
      le disque dur de votre terminal (ordinateur, tablette, mobile etc.) afin de vous garantir une navigation fluide et
      optimale sur notre Service.

      Les « cookies » (ou témoins de connexion) sont des petits fichiers texte de taille limitée qui nous permettent de
      reconnaître votre ordinateur, votre tablette ou votre mobile aux fins de personnaliser les services que nous vous
      proposons.

      Les informations recueillies par le biais des cookies ne permettent en aucune manière de vous identifier
      nominativement. Elles sont utilisées exclusivement pour nos besoins propres afin d’améliorer l’interactivité et la
      performance de notre Service et de vous adresser des contenus adaptés à vos centres d’intérêts. Aucune de ces
      informations ne fait l’objet d’une communication auprès de tiers sauf lorsque Scratch Underflow a obtenu au
      préalable
      votre consentement ou bien lorsque la divulgation de ces informations est requise par la loi, sur ordre d’un
      tribunal ou toute autorité administrative ou judiciaire habilitée à en connaître.

      Pour mieux vous éclairer sur les informations que les cookies identifient, vous trouverez un tableau listant les
      différents types de cookies susceptibles d’être utilisés sur le Service de Scratch Underflow, leur nom, leur
      finalité
      ainsi que leur durée de conservation à l'adresse A VENIR.

      b) Configuration de vos préférences sur les cookies
      Vous pouvez accepter ou refuser le dépôt de cookies à tout moment.

      Lors de votre première utilisation du Service https://scratchunderflow.fr/, une bannière présentant brièvement des
      informations relatives au dépôt de cookies et de technologies similaires apparaît en bas de votre écran. Cette
      bannière vous avertit qu’en poursuivant votre navigation sur le Service de Scratch Underflow (en chargeant une
      nouvelle
      page ou en cliquant sur divers éléments du Service par exemple), vous acceptez le dépôt de cookies sur votre
      terminal.

      Selon le type de cookie en cause, le recueil de votre consentement au dépôt et à la lecture de cookies sur votre
      terminal peut être impératif.

      c) Les cookies exemptés de consentement
      Conformément aux recommandations de la Commission Nationale de l’Informatique et des Libertés (CNIL), certains
      cookies sont dispensés du recueil préalable de votre consentement dans la mesure où ils sont strictement
      nécessaires au fonctionnement du Service ou ont pour finalité exclusive de permettre ou faciliter la communication
      par voie électronique. Il s’agit notamment des cookies d’identifiant de session, d’authentification, de session
      d’équilibrage de charge ainsi que des cookies de personnalisation de votre interface. Ces cookies sont
      intégralement soumis à la présente politique dans la mesure où ils sont émis et gérés par Scratch Underflow.

      d) Les cookies nécessitant le recueil préalable de votre consentement
      Cette exigence concerne les cookies émis par des tiers et qui sont qualifiés de « persistants » dans la mesure où
      ils demeurent dans votre terminal jusqu'à leur effacement ou leur date d’expiration.

      De tels cookies étant émis par des tiers, leur utilisation et leur dépôt sont soumis à leurs propres politiques de
      confidentialité dont vous trouverez un lien ci-dessous. Cette famille de cookie regroupe les cookies de mesure
      d’audience, les cookies publicitaires, auxquels Scratch Underflow n’a pas recours, ainsi que les cookies de
      partage de
      réseaux sociaux (Facebook, YouTube, Twitter, LinkedIn, etc.) auxquels Scratch Underflow n’a pas recours.

      Les cookies de mesure d’audience établissent des statistiques concernant la fréquentation et l’utilisation de
      divers éléments du Service (comme les contenus / pages que vous avez visité). Ces données participent à
      l’amélioration de l’ergonomie du Service.

      e) Outils de paramétrage des cookies
      La plupart des navigateurs Internet sont configurés par défaut de façon à ce que le dépôt de cookies soit
      autorisé. Votre navigateur vous offre l’opportunité de modifier ces paramètres standards de manière à ce que
      l’ensemble des cookies soit rejeté systématiquement ou bien à ce qu’une partie seulement des cookies soit acceptée
      ou refusée en fonction de leur émetteur.

      ATTENTION : Nous attirons votre attention sur le fait que le refus du dépôt de cookies sur votre terminal est
      néanmoins susceptible d’altérer votre expérience d’utilisateur ainsi que votre accès à certains services ou
      fonctionnalités du présent Service. Le cas échéant, Scratch Underflow décline toute responsabilité concernant les
      conséquences liées à la dégradation de vos conditions de navigation qui interviennent en raison de votre choix de
      refuser, supprimer ou bloquer les cookies nécessaires au fonctionnement du Service. Ces conséquences ne sauraient
      constituer un dommage et vous ne pourrez prétendre à aucune indemnité de ce fait.

      Votre navigateur vous permet également de supprimer les cookies existants sur votre terminal ou encore de vous
      signaler lorsque de nouveaux cookies sont susceptibles d’être déposés sur votre terminal. Ces paramétrages n’ont
      pas d’incidence sur votre navigation mais vous font perdre tout le bénéfice apporté par le cookie.

      Veuillez ci-dessous prendre connaissance des multiples outils mis à votre disposition afin que vous puissiez
      paramétrer les cookies déposés sur votre terminal.

      f) Paramétrage de votre navigateur internet
      Chaque navigateur Internet propose ses propres paramètres de gestion des cookies. Pour savoir de quelle manière
      modifier vos préférences en matière de cookies, vous trouverez ci-dessous les liens vers l’aide nécessaire pour
      accéder au menu de votre navigateur prévu à cet effet.

      Google Chrome : https://support.google.com/chrome/answer/95647?hl=fr
      Internet Explorer :
      https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-11
      Mozilla Firefox : https://support.mozilla.org/fr/kb/activer-desactiver-cookies
      Opera : http://help.opera.com/Windows/10.20/fr/cookies.html
      Safari https://support.apple.com/kb/PH21411?viewlocale=fr_FR&locale=fr_FR

      Pour de plus amples informations concernant les outils de maîtrise des cookies, vous pouvez consulter le site
      internet de la CNIL : https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser.

      Pour toute interrogation ou demande complémentaire d’informations relative à la présente politique des cookies,
      merci de bien vouloir nous contacter.
    </p>
  </div>
</section>

<app-footer></app-footer>
